.item {
  width: 18rem;
  margin: 1rem;

  &-thumbnail {
    height: 24rem;
  }

  &-caption {
    height: 9rem;
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
