@import url(https://fonts.googleapis.com/css?family=Material+Icons);.container__homePage-style___3sB1f {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 50vw;
  height: 100vh;
  margin: 0 auto; }

.header__homePage-style___1yaAc {
  text-align: center; }

.button-group__homePage-style____1ZPY {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .button-group__homePage-style____1ZPY a {
    text-decoration: none; }
.toolbar__pageBar-style___30eDT {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .toolbar-search__pageBar-style___f0BBd {
    margin: 0 2rem; }
  .toolbar__pageBar-style___30eDT a {
    color: inherit; }

.logo-container__pageBar-style___1KdNQ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.logo-isotype__pageBar-style___2w7dn {
  flex: 1 1 auto;
  height: 2.5rem;
  margin: 0 0.5rem; }
.drawer-bar-container__drawerBar-style___3Ji7L {
  justify-content: space-between;
  padding: 2px 4px; }

.service-container__drawerBar-style___25Eyx {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.service-icon__drawerBar-style___3WGbN {
  margin-right: 0.5rem; }
.raise__drawer-style___3kem0 {
  z-index: 1200;
  box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.15); }

.drawer-dock__drawer-style___EgiUA, .drawer-dock-hidden__drawer-style___3df9G {
  margin-left: 0;
  transition: margin-left 0.15s ease-out; }
  .drawer-dock-hidden__drawer-style___3df9G {
    margin-left: -25rem; }

.drawer-paper-mobile__drawer-style___1Zi9o {
  width: 85vw;
  max-width: 25rem;
  padding: 0 1rem; }

.drawer-paper-desktop__drawer-style___1Wp43 {
  position: static !important;
  width: 25rem;
  padding: 0 1rem; }
.container__autocomplete-style___1aOQv {
  position: relative; }

.dropdown-area__autocomplete-style___3c9kB {
  position: absolute;
  width: 100%; }
.container__search-style___2gUeJ {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  padding: 2px 4px; }

.input__search-style___M-WBB {
  flex: 1 1 auto; }

.button__search-style___Qqpaq {
  margin-left: 1rem !important; }
.chevron__chevron-style___1ob7U svg, .chevron-up__chevron-style___3lP4c svg svg {
  font-size: 1.25em;
  perspective: 100vw;
  transform-style: preserve-3d;
  transition: transform 0.25s ease-out; }

.chevron-up__chevron-style___3lP4c svg {
  transform: rotateX(180deg); }
.item__item-style___3wCw2 {
  width: 19rem;
  margin: 1rem; }
  .item-media__item-style___27yar {
    height: 26rem; }
  .item-rating__item-style___2VPRy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
  .item-star__item-style___F9ZjS {
    width: 16px; }
  .item-actions__item-style___1eD89 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .item-chevron__item-style___1WVmZ {
    margin: 0 0 0 auto; }

.subtitle__item-style___LU5G4 {
  font-size: 0.8em;
  margin-left: 0.3em;
  color: silver; }

.tag__item-style___ILEoH {
  margin: 0.15rem; }
  .tag-container__item-style___1IV8Q {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%; }
.container__itemView-style___2xvvl {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  overflow-y: auto; }
.container__checkboxList-style___2rOQ6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem; }
.container__yearPicker-style___cm7Ci {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;
  margin-bottom: 1rem;
  z-index: 3000; }
.item__facetItem-style___1bFQJ {
  flex: 1 1 auto;
  margin: 0; }
  .item-actions__facetItem-style___10Q79 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .item-title__facetItem-style___1zgl0 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
  .item-icon__facetItem-style___1lP4T {
    margin-right: 0.5rem; }
  .item-toggle__facetItem-style___23t3B {
    margin: 0 0 0 auto; }

.control-container__facetItem-style___8p314 {
  margin-left: 2rem; }
.container__facetView-style___12zGa {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  margin: 1rem 0;
  overflow-y: auto; }
.page-container__searchPage-style___3bQaA {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative; }

.main-container__searchPage-style___3XqvN {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }


/*# sourceMappingURL=ddf109af8b23fdf107e1.app.css.map*/