@import "../../../../common/sass/_colors.scss";

.item {
  width: 18rem;
  margin: 1rem;
  // height: 36rem;

  &-media {
    height: 24rem;
  }

  &-caption {
    //
  }

  &-star {
    width: 16px;
  }
}

.subtitle {
  font-size: 0.6em;
  margin-left: 0.3rem;
  color: $colorSubtle;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
