@import "../../../../common/sass/_layout.scss";
@import "../../../../common/sass/_colors.scss";

.container {
  z-index: 2000;
  box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.15);
  margin-left: 0;
  transition: margin-left 0.15s ease-out, box-shadow 0.15s ease-out;

  &-hidden {
    @extend .container;

    box-shadow: none;
    margin-left: -$drawer-max-width;
  }
}

.drawer-bar-container {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.drawer-paper {
  &-mobile {
    width: 85vw;
    max-width: $drawer-max-width;
    padding: 0 1rem;
  }

  &-desktop {
    position: static !important;
    width: $drawer-max-width;
    padding: 0 1rem;
  }
}
