.container {
  &-hidden {
    display: none;
  }
}

.drawer-bar-container {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.drawer-paper {
  &-mobile {
    width: 85vw;
    max-width: 25rem;
    padding: 0 1rem;
  }

  &-desktop {
    position: static !important;
    width: 25rem;
    padding: 0 1rem;
  }
}
