.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &-menu-button {
    //
  }

  &-title {
    //
  }

  &-search {
    margin: 0 2rem;
  }

  & a {
    color: inherit;
  }
}
